
@{
    ViewBag.Title = "PassUsingViewBag - Backend1";
}

<h2>PassUsingViewBag</h2>

<b>
    <p> Rand Value First : @ViewBag.a </p>
    <p>Rand Value Second : @ViewBag.b</p>

    <p>Add:</p>
</b>
<p>@ViewBag.a + @ViewBag.b = @ViewBag.add</p>

<b><p>Sub:</p></b>
<p>@ViewBag.a - @ViewBag.b = @ViewBag.sub</p>

<b><p>Mult</p></b>
<p>@ViewBag.a * @ViewBag.b = @ViewBag.mult</p>

<b><p>Div:</p></b>
<p>@ViewBag.a / @ViewBag.b = @ViewBag.div</p>




