
@{
    ViewBag.Title = "PassUsingViewData - Backend1";
}

<h2>PassUsingViewData</h2>

<b>
    <p> Rand Value First : @ViewData["a"] </p>
    <p>Rand Value Second : @ViewData["b"]</p>

    <p>Add:</p>
</b>
<p>@ViewData["a"] + @ViewData["b"] = @ViewData["add"]</p>

<b><p>Sub:</p></b>
<p>@ViewData["a"] - @ViewData["b"] = @ViewData["sub"]</p>

<b><p>Mult</p></b>
<p>@ViewData["a"] * @ViewData["b"] = @ViewData["mult"]</p>

<b><p>Div:</p></b>
<p>@ViewData["a"] / @ViewData["b"] = @ViewData["div"]</p>




